go 1.25.8

use (
	./services/admin
	./services/ai
	./services/billing
	./services/content
	./services/identity
	./services/interview
	./services/recommendation
	./services/rooms
	./services/sandbox
	./services/template
	./services/tracker
)
